<div class="content">
  
  <hgroup>
    <h1>Speaking</h2>
  </hgroup>

  <section class="calendar">
    Calendar
  </section>

</div>

<aside>
  <section class="upcoming">
    <h2>Upcoming Talks</h2>
    <p></p>
  </section>
</aside>