<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteRule ^uploads/(.*)$ http://dl.getdropbox.com/u/joshuaogle/site/uploads/$1 [L,QSA]
  RewriteRule ^portfolio/(.*)$ http://dl.getdropbox.com/u/joshuaogle/site/portfolio/$1 [L,QSA]
</IfModule>