<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>Joshua Ogle | <% if title == "site" || "mnt" && @context[:articles] %><%# a horrible way to do this, fix it soon %>Designer and Developer in Oklahoma City, Oklaohma<% else %><%= title %><% end %></title>
    <script type="text/javascript" src="http://use.typekit.com/vbr1nkr.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="http://code.jquery.com/jquery-1.4.3.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/js/main.js" type="text/javascript" charset="UTF-8"></script>
  </head>
  <body<% if title == "site" && @context[:articles] %><%# a horrible way to do this, fix it soon %> class="home"<% end %>>
    <nav class="navigation">
      <h1 class="logo"><a href="/">Joshua Ogle</a></h1>
      <ul>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/archives">Articles</a></li>
        <li><a href="/speaking">Speaking</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    
    <div class="wrap">
      <div class="container">
        
        <%= yield %>
        
      </div>
    </div>
    
    <footer>
      <div class="container copyright">
        <p><span>&copy;</span> Copyright <%= Time.now.year %> Joshua Ogle. All rights reserved unless otherwise noted. Powered by <a href="http://cloudhead.io/toto">toto</a>. You can fork the code <a href="http://github.com/joshuaogle">on Github</a>.</p>
      </div>
    </footer>
    
  </body>
</html>